form {
    margin: 0 auto;
    width: 200px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label {
    display: inline;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font-family: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
}

button {
    margin-left: 5em;
}